In [1]:
import pandas as pd

In [46]:
pd.options.display.float_format = '{:2f}'.format

In [47]:
export_2015 = pd.read_excel('Russia-2015.xlsx', sheet_name='Partner')
export_2016 = pd.read_excel('Russia-2016.xlsx', sheet_name=1)

In [48]:
export = pd.concat([export_2015, export_2016])

In [49]:
export.sample(10)

,Reporter Name,Partner Name,Year,Trade Flow,No Of exported HS6 digit Products,Export Share in Total Products (%),Export (US$ Thousand),Export Partner Share (%)
187,Russian Federation,Somalia,2016,Export,89.000000,2.050000,861.670000,0.000000
168,Russian Federation,Paraguay,2015,Export,27.000000,0.620000,13584.970000,0.000000
222,Russian Federation,Venezuela,2016,Export,330.000000,7.590000,334256.830000,0.120000
204,Russian Federation,Turkmenistan,2015,Export,1642.000000,37.920000,843924.500000,0.250000
169,Russian Federation,Occ.Pal.Terr,2015,Export,17.000000,0.390000,2897.570000,0.000000
140,Russian Federation,Mauritius,2015,Export,10.000000,0.230000,1667.220000,0.000000
190,Russian Federation,Sao Tome and Principe,2016,Export,1.000000,0.020000,6.410000,0.000000
61,Russian Federation,East Asia & Pacific,2016,Export,2689.000000,61.820000,54840276.370000,19.210000
188,Russian Federation,Sub-Saharan Africa,2015,Export,963.000000,22.240000,1730231.340000,0.500000
56,Russian Federation,Djibouti,2016,Export,11.000000,0.250000,56381.940000,0.020000

In [51]:
export.pivot_table(index=['Year', 'Partner Name'], values='Export (US$ Thousand)', aggfunc='sum')\
    .sort_values('Export (US$ Thousand)', ascending=False)

                                     Export (US$ Thousand)
Year Partner Name
2015  World                               343907651.830000
     Afghanistan                             148012.800000
     Albania                                  66986.540000
     Algeria                                1192403.640000
     American Samoa                               0.000000
     Andorra                                   3907.170000
     Angola                                  139394.170000
     Anguila                                      0.000000
     Antarctica                                   0.000000
     Antigua and Barbuda                          0.000000
     Argentina                               121966.040000
     Armenia                                 510780.040000
     Aruba                                        0.000000
     Australia                               102612.770000
     Austria                                 168760.390000
     Azerbaijan                             1676164.870000
     Bahamas, The                             72681.870000
     Bahrain                                   4320.480000
     Bangladesh                              455883.350000
     Barbados                                     0.060000
     Belarus                               12428309.690000
     Belgium                                6348194.680000
     Belize                                   20639.550000
     Benin                                      892.700000
     Bermuda                                      0.040000
     Bhutan                                     124.600000
     Bolivia                                   3339.800000
     Bosnia and Herzegovina                  177867.370000
     Botswana                                 22478.970000
     Brazil                                 1922922.680000
...                                                    ...
2016 Sweden                                 2223803.420000
     Switzerland                            3109872.580000
     Syrian Arab Republic                    182254.340000
     Tajikistan                              661481.930000
     Tanzania                                 79147.620000
     Thailand                                616016.830000
     Togo                                     23213.450000
     Tokelau                                      0.000000
     Tonga                                        0.000000
     Trinidad and Tobago                     728546.870000
     Tunisia                                 355192.290000
     Turkey                                13698261.430000
     Turkmenistan                            570574.820000
     Turks and Caicos Isl.                        0.000000
     Uganda                                   28300.560000
     Ukraine                                6280263.250000
     United Arab Emirates                    971070.400000
     United Kingdom                         6996918.180000
     United States                          9425801.960000
     United States Minor Outlying I               0.000000
     Unspecified                              43365.410000
     Uruguay                                  32500.870000
     Uzbekistan                             1964967.280000
     Vanuatu                                      0.000000
     Venezuela                               334256.830000
     Vietnam                                1373024.120000
     Western Sahara                               0.870000
     Yemen                                   156030.930000
     Zambia                                     569.110000
     Zimbabwe                                  8600.000000

[463 rows x 1 columns]

In [67]:
exclude = ['Europe & Central Asia', ' World']

In [68]:
export_filtered = export[export['Partner Name'] != 'Europe & Central Asia']

In [69]:
export_filtered.pivot_table(index=['Year', 'Partner Name'], values='Export (US$ Thousand)', aggfunc='sum')\
    .sort_values('Export (US$ Thousand)', ascending=False)

                                     Export (US$ Thousand)
Year Partner Name
2015  World                               343907651.830000
2016  World                               285491052.010000
2015 East Asia & Pacific                   63818526.250000
2016 East Asia & Pacific                   54840276.370000
2015 Unspecified                           53098256.490000
     Netherlands                           40198496.430000
2016 Netherlands                           29254623.870000
2015 China                                 28334954.570000
2016 China                                 28021250.170000
     Germany                               21258480.740000
     Middle East & North Africa            18442605.730000
2015 Italy                                 16204284.050000
     Germany                               15906242.250000
     Middle East & North Africa            14438344.110000
     Japan                                 14426352.100000
2016 Belarus                               14050696.990000
     Turkey                                13698261.430000
2015 Korea, Rep.                           13196117.470000
     Belarus                               12428309.690000
2016 Italy                                 11931332.880000
2015 Turkey                                11703271.070000
     Kazakhstan                            10301605.710000
2016 Korea, Rep.                           10027147.250000
     North America                          9845390.050000
2015 Poland                                 9513335.860000
2016 Kazakhstan                             9426891.450000
     United States                          9425801.960000
     Japan                                  9384191.780000
     Poland                                 9098660.070000
2015 North America                          8845211.820000
...                                                    ...
     Cook Islands                                 0.000000
     Fr. So. Ant. Tr                              0.000000
2016 Montserrat                                   0.000000
     Niue                                         0.000000
2015 Eritrea                                      0.000000
2016 Comoros                                      0.000000
2015 Greenland                                    0.000000
     East Timor                                   0.000000
     Grenada                                      0.000000
     South Georgia and the South Sa               0.000000
     Guinea-Bissau                                0.000000
2016 Pitcairn                                     0.000000
     American Samoa                               0.000000
2015 Heard Island and McDonald Isla               0.000000
2016 Saint Barthélemy                             0.000000
2015 Montserrat                                   0.000000
2016 Saint Helena                                 0.000000
     Kiribati                                     0.000000
2015 Comoros                                      0.000000
     Kiribati                                     0.000000
     United States Minor Outlying I               0.000000
     Christmas Island                             0.000000
     Lesotho                                      0.000000
2016 Bouvet Island                                0.000000
     Solomon Islands                              0.000000
2015 Saint Helena                                 0.000000
     Solomon Islands                              0.000000
2016 Grenada                                      0.000000
     St. Kitts and Nevis                          0.000000
2015 Pitcairn                                     0.000000

[461 rows x 1 columns]

In [91]:
exclude = ['Europe & Central Asia', ' World', 'East Asia & Pacific', 'United States Minor Outlying I']
export_filtered = export[-export['Partner Name'].isin(exclude)]

In [92]:
export_pivot = export_filtered.pivot_table(index=['Year', 'Partner Name'], values='Export (US$ Thousand)', aggfunc='sum')\
    .sort_values(['Year', 'Export (US$ Thousand)'], ascending=[True, False])

In [93]:
export_pivot[export_pivot.index.get_level_values('Year')==2015]

                                     Export (US$ Thousand)
Year Partner Name
2015 Unspecified                           53098256.490000
     Netherlands                           40198496.430000
     China                                 28334954.570000
     Italy                                 16204284.050000
     Germany                               15906242.250000
     Middle East & North Africa            14438344.110000
     Japan                                 14426352.100000
     Korea, Rep.                           13196117.470000
     Belarus                               12428309.690000
     Turkey                                11703271.070000
     Kazakhstan                            10301605.710000
     Poland                                 9513335.860000
     North America                          8845211.820000
     United States                          8393104.750000
     Ukraine                                7163121.740000
     Latvia                                 6699113.180000
     Finland                                6487007.420000
     Belgium                                6348194.680000
     South Asia                             5382234.830000
     Latin America & Caribbean              4800403.380000
     India                                  4549940.900000
     United Kingdom                         4523691.790000
     Egypt, Arab Rep.                       3252856.560000
     France                                 3066522.880000
     Spain                                  2679579.150000
     Other Asia, nes                        2626315.890000
     Slovak Republic                        2608042.760000
     Switzerland                            2542571.430000
     Malta                                  2501418.080000
     Singapore                              2491994.660000
...                                                    ...
     American Samoa                               0.000000
     Anguila                                      0.000000
     Antarctica                                   0.000000
     Antigua and Barbuda                          0.000000
     Aruba                                        0.000000
     British Indian Ocean Ter.                    0.000000
     Christmas Island                             0.000000
     Comoros                                      0.000000
     Cook Islands                                 0.000000
     East Timor                                   0.000000
     Eritrea                                      0.000000
     Fr. So. Ant. Tr                              0.000000
     Greenland                                    0.000000
     Grenada                                      0.000000
     Guinea-Bissau                                0.000000
     Heard Island and McDonald Isla               0.000000
     Kiribati                                     0.000000
     Lesotho                                      0.000000
     Montserrat                                   0.000000
     Niue                                         0.000000
     Pitcairn                                     0.000000
     Russian Federation                           0.000000
     Saint Helena                                 0.000000
     Solomon Islands                              0.000000
     South Georgia and the South Sa               0.000000
     Swaziland                                    0.000000
     Turks and Caicos Isl.                        0.000000
     Tuvalu                                       0.000000
     Vanuatu                                      0.000000
     Wallis and Futura Isl.                       0.000000

[227 rows x 1 columns]

In [94]:
export_pivot[export_pivot.index.get_level_values('Year')==2016]

                                 Export (US$ Thousand)
Year Partner Name
2016 Netherlands                       29254623.870000
     China                             28021250.170000
     Germany                           21258480.740000
     Middle East & North Africa        18442605.730000
     Belarus                           14050696.990000
     Turkey                            13698261.430000
     Italy                             11931332.880000
     Korea, Rep.                       10027147.250000
     North America                      9845390.050000
     Kazakhstan                         9426891.450000
     United States                      9425801.960000
     Japan                              9384191.780000
     Poland                             9098660.070000
     United Kingdom                     6996918.180000
     Finland                            6535275.150000
     South Asia                         6482061.040000
     Ukraine                            6280263.250000
     Belgium                            5741057.180000
     India                              5312787.260000
     Latin America & Caribbean          5178122.360000
     France                             4851303.040000
     Latvia                             4844183.240000
     Algeria                            3966280.510000
     Egypt, Arab Rep.                   3782803.970000
     Switzerland                        3109872.580000
     Other Asia, nes                    2703290.010000
     Czech Republic                     2693520.540000
     Greece                             2660766.400000
     Hungary                            2649926.410000
     Lithuania                          2508883.820000
...                                                ...
     French Polynesia                         0.960000
     Western Sahara                           0.870000
     Bhutan                                   0.330000
     Bermuda                                  0.120000
     Barbados                                 0.060000
     Holy See                                 0.060000
     American Samoa                           0.000000
     Bouvet Island                            0.000000
     British Indian Ocean Ter.                0.000000
     Christmas Island                         0.000000
     Cocos (Keeling) Islands                  0.000000
     Comoros                                  0.000000
     East Timor                               0.000000
     Eritrea                                  0.000000
     Fr. So. Ant. Tr                          0.000000
     Grenada                                  0.000000
     Kiribati                                 0.000000
     Montserrat                               0.000000
     Nauru                                    0.000000
     Niue                                     0.000000
     Pitcairn                                 0.000000
     Saint Barthélemy                         0.000000
     Saint Helena                             0.000000
     Solomon Islands                          0.000000
     St. Kitts and Nevis                      0.000000
     Swaziland                                0.000000
     Tokelau                                  0.000000
     Tonga                                    0.000000
     Turks and Caicos Isl.                    0.000000
     Vanuatu                                  0.000000

[228 rows x 1 columns]